:root {
    --main-color: aliceblue; 
}

header {
    background-color: var(--main-color);
    padding: 1%;
    width: 10%;
}

/* class for when highScores are not shown */
.off {
    font-size: 150%;
    padding: 1%;
    text-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* class for when highScores are shown */
.on {
    background-color: silver;
    font-size: 150%;
    padding: 1%;
    text-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

body {
    display: flex;
    padding: 1%;
    background-color: blue;
}

body > main {
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

main > h1 {
    min-height: 70%;
    font-size: xx-large;
}

main > button {
    background-color:silver;
    border: 2px solid gray;
    width: 20%;
    height:10%;
    font-size: 150%;
    cursor: pointer;
}

section {
    background-color: var(--main-color);
    padding: 1%;
    width: 10%;
}

section > h2 {
    background-color: var(--main-color);
    font-size: 150%;
}

ol {
    list-style:lower-alpha;
    padding-left:20%;
    padding-top:10%;
    text-align: left;
}
ol > li {
    padding: 2%;
    cursor: pointer;
}
